
/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

*,*:before,*:after{
    box-sizing: border-box;
}



/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Noticia Text', serif;*/


/*----------------------------------------------------------------------------
    Structure
----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/


